<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Zubismart is an online platform for peopple to buy and sell goods and services. Our goal is to make life easier by bringing your required needs to your doorstep.">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis|Montserrat|Rajdhani|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/materialicons.css">
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/{{style}}">
    <title>{{title}}</title>
</head>
<body>
    {{#if success_message}}
        <p id="successText" class="center messages">{{success_message}}<i class="right mdi mdi-close mdi-18px successClose"></i></p>
    {{/if}}
        
    {{#if failure_message}}
        <p id="failureText" class="center messages">{{failure_message}}<i class="right mdi mdi-close mdi-18px failureClose"></i></p>    
    {{/if}}
    {{{body}}}
    <script src="/js/materialize.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/{{script}}"></script>
</body>
</html>