{{> header}}
<main>
    <div id="preloader-container">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
                </div><div class="circle-clipper right">
                <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
                </div><div class="circle-clipper right">
                <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
                </div><div class="circle-clipper right">
                <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
                </div><div class="circle-clipper right">
                <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <h3 class="center" id="heading">Admin Dashboard</h3>
        <div class="input-field">
            <span class="mdi mdi-magnify mdi-24px mdi-flip-h prefix"></span>
            <input type="text" name="findUser" id="findUser" placeholder="Find User" autofocus>
        </div>
        <div id="numberOfUsers">
            <h5>Number of Users: <span id="users-number">{{numberOfUsers}}</span></h5>
        </div>
    </div>
    <div>
        {{#if users}}
            <table class="striped responsive-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Phone</th>
                        <th>Joined</th>
                        <th>Last-Login</th>
                        <th>Last Payment</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    {{#each users}}
                        <tr class="userRows">
                            <td class="username">{{this.firstName}} {{this.lastName}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.phone}}</td>
                            <td>{{this.createdAt}}</td>
                            <td>{{lastLogin this.lastLogin}}</td>
                            <td>{{lastPaid this.lastPaid}}</td>
                            <td>
                                <div class="switch">
                                    <label>
                                        Off
                                        <input type="checkbox" class="toggleSwitch" data-id="{{this._id}}" {{hasPaid this}}>
                                        <span class="lever"></span>
                                        On
                                    </label>
                                </div>
                            </td>
                            <td>
                                <span class="mdi mdi-pencil-circle mdi-24px tooltipped editUser" data-id="{{this._id}}" data-tooltip="Edit User"></span>    
                                <span class="mdi mdi-delete-circle mdi-24px tooltipped removeUser" data-id="{{this._id}}" data-tooltip="Remove User"></span>    
                                <span class="mdi mdi-check-circle mdi-24px tooltipped markAsPaid" data-id="{{this._id}}" data-tooltip="Mark as Paid"></span>    
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}
    </div>
</main>
{{> fab}}
{{> footer}}