{{> header}}
<main>
    <div id="main-section" class="row">
        <div id="left-section" class="col s12 l3">
            <div id="profile-icon-div">
                <i class="mdi mdi-account-circle  profile-icon"></i>
                <h6 id="username" data-id="{{user._id}}" data-email="{{user.email}}" data-phone="{{user.phone}}">{{firstName}} {{lastName}}</h6>
                {{#if user.lastPaid}}
                    <span><span style="font-weight: bold;">Subscription Expires: </span>{{expiresAt user.lastPaid}}.</span>
                {{/if}}                
            </div>
            <ul class="collection with-header">
                <li class="collection-header"><h4>Welcome back!</h4></li>
                <li class="collection-item"><a class="modal-trigger" data-target="addItemModal">Add Item</a></li>
                <li class="collection-item"><a class="modal-trigger" data-target="addServiceModal">Add Service</a></li>
                <li class="collection-item"><a class="modal-trigger" data-target="editDataModal">Edit Data</a></li>
                <li class="collection-item"><a class="modal-trigger" data-target="changePasswordModal">Change Password</a></li>
                {{#if (paymentRequest user)}}
                    <li id="paymentRequestItem" class="collection-item"><a id="activateAccount">Request Account Activation</a></li>
                {{/if}}
                <li class="collection-item"><a class="modal-trigger" data-target="removeAccountModal">Remove My Account</a></li>
            </ul>
            <div id="subscriptionSection" class="notification-message">
                <span class="close-message" style="float: right;">&times;</span>
                <p>
                    Products and Services you add will not be visible to other people until account is activated.
                    To activate your account, pay the monthly <i class="mdi mdi-currency-ngn">20,000</i> to the account below.
                </p>
            </div>
            <div id="accountSection" class="notification-message">
                <span class="close-message" style="float: right;">&times;</span>
                <p><strong style="font-weight: bolder;">Account Name:</strong> Lorem, ipsum dolor.</p>
                <p><strong style="font-weight: bolder;">Account Number:</strong> 0123456789</p>
                <p><strong style="font-weight: bolder;">Bank:</strong> 0123456789</p>
                <p>If payment is done via transfer, provide your name and email in the transfer memo to make confirmation faster.</p>
            </div>
        </div>
        <div id="right-section" class="col s12 l9">
            <h5><span id="dashboard-icon" class="mdi mdi-view-dashboard"></span>&nbsp;Dashboard</h5>
            <div class="row">
                <div class="col s12 l6">
                    <div id="card1" class="card-panel hoverable">
                        <span class="mdi mdi-currency-sign card-icon"></span>
                        <h5>Stock Total</h5>
                        <h6><span class="mdi mdi-currency-ngn left"></span><span id="stockTotal">{{formatPrice stockTotal}}</span></h6>
                    </div>
                </div>

                <div class="col s12 l6">
                    <div id="card2" class="card-panel hoverable">
                        <span class="mdi mdi-database card-icon"></span>
                        <h5>Total Sales</h5>
                        <h6><span class="mdi mdi-currency-ngn left"></span><span id="totalSales">{{formatPrice totalSales}}</span></h6>
                    </div>
                </div>
            </div>
            <div class="row stock-data">
                <div class="col s12">
                    <table class="striped responsive-table">
                        {{#if products}}
                            <h5>Products Summary</h5>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="productsTableBody">
                                {{#each products}}
                                    <tr>
                                        <td>{{this.name}}</td>
                                        <td>{{this.category}}</td>
                                        <td><span class="mdi mdi-currency-ngn"></span><span>{{formatPrice this.price}}</span></td>
                                        <td><span class="mdi mdi-delete-outline delete-products-icon" data-id="{{this._id}}"></span>&nbsp;&nbsp;&nbsp;<span class="mdi mdi-check-decagram mark-product-as-sold-icon tooltiped modal-trigger" data-tooltip="Mark as sold" data-id="{{this._id}}" data-target="{{this.name}}"></span></td>
                                        
                                        <div id="{{this.name}}" class="modal">
                                            <div class="modal-content">
                                                <h4>Mark the {{this.name}} as sold?</h4>
                                                <p>This will remove it from your account.</p>
                                                <div class="col s12 input-field">
                                                    <p>Sold the {{this.name}} for:</p>
                                                    <input type="number" value="{{this.price}}" placeholder="Item Price...">
                                                    <span class="helper-text" data-error="Please selling price.">Please provide the price this item was sold for if it is different from what is displayed above.</span>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="col s12 l6 m6 input-field">
                                                    <button class="btn button waves-effect waves-light sold-button" data-id="{{this._id}}"><span class="mdi mdi-check left prefix sold-modal-icon"></span>Sold</button>
                                                </div>
                                                <div class="col s12 l6 m6 input-field">
                                                    <button class="btn button waves-effect waves-light cancel-sold-button modal-close"><span class="mdi mdi-close left prefix sold-modal-icon"></span>Cancel</button>
                                                </div>
                                            </div>        
                                        </div>
                                    </tr>
                                {{/each}}
                            </tbody>
                        {{else}}
                            <h4 class="not-available">You have no Products at this time.</h4>
                        {{/if}}
                    </table>
                </div>
            </div>
            <div class="row stock-data">
                <div class="col s12">
                    {{#if services}}
                        <h5>Services Summary</h5>
                        <table class="striped responsive-table">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="servicesTableBody">
                                {{#each services}}
                                    <tr>
                                        <td>{{this.category}}</td>
                                        <td>{{this.description}}</td>
                                        <td><span class="mdi mdi-delete-outline delete-services-icon" data-id="{{this._id}}"></span>&nbsp;&nbsp;&nbsp;<span class="mdi mdi-check-decagram mark-service-as-sold-icon tooltiped" data-tooltip="Mark as sold" data-id="{{this._id}}"></span></td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    {{else}}
                        <h4 class="not-available">You have no Services at this time.</h4>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{> addItemModal}}
    {{> addServiceModal}}
    {{> editDataModal}}
    {{> removeAccountModal}}
    {{> activateAccountModal}}
    {{> changePasswordModal}}
    {{> fab}}
</main>
{{> footer}}