{{> header}}
<main>
    <section>
        {{#if (searchResults products services)}}
            {{#if products}}
                <div>
                    <h5 class="sub-header">Products Search Results</h5>
                    <div class="row">
                        {{#each products}}
                            <div class="col s12 m6 l3">
                                <div class="card medium hoverable">
                                    <div class="card-image">
                                        <img src="data:image/jpeg;charset=utf-8;base64,{{base64ArrayBuffer this.image.data.buffer}}" alt="{{this.name}}" class="materialboxed" data-caption="{{this.name}}">
                                        <span class="card-title">{{this.name}}</span>
                                    </div>
                                    <div class="card-content">
                                        <p class="price"><span class="mdi mdi-currency-ngn">{{this.price}}</span></p>
                                    </div>
                                    <div class="card-action product">
                                        <p class="seller-label">Seller: <span class="product-info">{{this.userName}}</span></p>
                                        <p class="seller-label">Contact: <span class="product-info">{{this.phone}}</span></p>
                                        <p class="seller-label">Description: <span class="product-info">{{this.description}}</span></p>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/if}}
            {{#if services}}
                <div class="section" style="background-color: #f1f1f1;">
                    <h5 class="sub-header">Services Search Results</h5>
                    <div class="row">
                        {{#each services}}
                            <div class="col s12 m6 l3">
                                <div class="service-card hoverable">
                                    <div class="card-icon">
                                        <span class="mdi mdi-truck-fast service-icon"></span>
                                    </div>
                                    <div class="content service">
                                        <p class="seller-label">Seller: <span class="service-info">{{this.userName}}</span></p>
                                        <p class="seller-label">Contact: <span class="service-info">{{this.phone}}</span></p>
                                        <p class="seller-label">Description: <span class="service-info">{{this.description}}</span></p>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/if}}
        {{else}}
            <h3 class="no-items">Found 0 Results matching your search</h3>
        {{/if}}
    </section>
</main>
{{> fab}}
{{> footer}}